* {
    font-family: Arial, sans-serif;
    color: gold;
}

header {
    background-color: #1a1a2e;
    text-align: center;
    padding: 5px;
}

.sekcja-lewa, .sekcja-prawa {
    background-color: #1a1a2e;
    height: 600px;
}

.sekcja-srodkowa {
    background-color: #0f3460;
    height: 600px;
    overflow: scroll;
}

@media screen and (min-width: 801px) {
    .sekcja-lewa, .sekcja-prawa {
        width: 20%;
        float: left;
    }
    .sekcja-srodkowa {
        width: 60%;
        float: left;
    }
}

footer {
    background-color: #1a1a2e;
    height: 150px;
    clear: both;
}

.saldo-badge {
    background-color: #e94560;
    border-radius: 50%;
    padding: 5px;
}

li {
    padding: 5px;
}

.blok-gry {
    display: inline-block;
    text-align: center;
    padding: 3px;
}

input[type="text"] {
    margin: 8px;
    color: #1a1a2e;
}