
*{
    font-size: Garamond;
}
header{
    background-color: tomato;
    color:white;
    text-align: center;
    width: 80%;
    height: 80px;
}
main{
    width: 80%;
    height: 600px;
}
.boczny{
    background-color: coral;
    width: 20%;
    height: 680px;
}
footer{
    background-color: tomato;
    color: white;
    text-align: center;
}
img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.chat{
    border: 1px solid tomato;
    padding: 15px;
    height: 470px;
    overflow: scroll;
}
.Jolka, .Krzysiek{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    padding: 2%;
    margin: 3px;
}
.Jolka{
    background-color: #EEE;
    float: left;
}
.Krzysiek{
    background-color: #ccc;
    text-align: right;
    float: right;
}
button{
    background-color: tomato;
    border: 1px solid darkred;
    padding: 5px;
    font-weight: bold;
}
input{
    width: 500px;
}